# Syntax Help
#
# filename.ext - Ignores a specific file anywhere
# folder/ - Ignores an entire folder and its contents
# *.ext - Ignores all files with a specific extension
# /file.txt - Ignores a file only in the root directory
# **/*.log - Ignores all .log files in any subdirectory
# ! - Negates a rule (Un-ignores a file)

# Ignores local VS Code settings (already handled by your Global ignore, but safe to repeat)
.vscode/
Media/
